/* import base level styles */
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: calc(12px + .3vh + .3vw);
  font-weight: 400;
  line-height: 1.6; }

/* text */
h1 {
  margin-bottom: calc(24px + .8vh + .8vw);
  font-size: calc(24px + .8vh + .8vw);
  font-weight: 600;
  line-height: 1.2; }

h2 {
  margin-bottom: calc(20px + .6vh + .6vw);
  font-size: calc(20px + .6vh + .6vw);
  font-weight: 600;
  line-height: 1.25; }

h3 {
  margin-bottom: calc(18px + .6vh + .6vw);
  font-size: calc(18px + .6vh + .6vw);
  font-weight: 500;
  line-height: 1.3; }

h4 {
  margin-bottom: calc(16px + .5vh + .5vw);
  font-size: calc(16px + .5vh + .5vw);
  font-weight: 500;
  line-height: 1.35; }

h5 {
  margin-bottom: calc(13px + .4vh + .4vw);
  font-size: calc(13px + .4vh + .4vw);
  font-weight: 400;
  line-height: 1.4; }

h6 {
  margin-bottom: calc(10px + .1vh + .1vw);
  font-size: calc(10px + .1vh + .1vw);
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase; }

p, input[type="text"],
textarea, button {
  margin-bottom: calc(24px + .8vh + .8vw);
  font-size: calc(12px + .3vh + .3vw);
  font-weight: 400;
  line-height: 1.6; }

/* handle basic inputs */
input[type="text"],
textarea {
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
  border-bottom: solid 2px black;
  margin: 0px; }

button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: none;
  border: none;
  border-radius: 999px;
  height: calc(15px + 1.2vh + 1.2vw);
  padding-left: 2vw;
  padding-right: 2vw;
  margin: 0px;
  line-height: calc(15px + 1.2vh + 1.2vw);
  text-align: center;
  background: white;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.3s ease; }
  button:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1); }
  button.circle {
    height: calc(15px + 1.2vh + 1.2vw);
    width: calc(15px + 1.2vh + 1.2vw);
    padding: 0px; }

.github-wrap {
  position: fixed;
  bottom: calc(1vh + 1vw);
  left: calc(1vh + 1vw);
  right: calc(1vh + 1vw); }
  .github-wrap a {
    color: inherit;
    display: block;
    text-decoration: none;
    transform: translateY(0px);
    transition: all 0.3s ease; }
    .github-wrap a:hover {
      transform: translateY(-5px); }
  .github-wrap .left-link {
    display: block;
    float: left; }
    .github-wrap .left-link button {
      margin-right: calc(.5vw + .5vh); }
  .github-wrap .right-link {
    display: block;
    float: right; }
    .github-wrap .right-link button {
      margin-left: calc(.5vw + .5vh); }

html {
  height: 100%; }
  html body {
    background: #f7f7f7;
    height: 100%;
    text-align: center; }
    html body ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      list-style: none; }
      html body ul li {
        display: block; }
        html body ul li a {
          display: inline-block;
          text-decoration: none;
          color: black;
          margin-bottom: calc(1vh + 1vw); }
          html body ul li a:hover {
            text-decoration: underline; }
          html body ul li a h5 {
            margin: 0px; }
    html body .instruction-wrap {
      position: absolute;
      top: calc(1vh + 1vw);
      left: 0;
      right: 0;
      opacity: 0.7;
      transition: all 0.3s ease; }
      .night html body .instruction-wrap {
        color: white; }
    html body .left-link {
      display: none !important; }
