/* import base level styles */
@import "../reset";
@import "../text";
@import "../forms";
@import "../github";

html {
  height: 100%;
  body {
    background: #f7f7f7;
    height: 100%;
    text-align: center;

    // the nav
    ul {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      list-style: none;
      li {
        display: block;
        a {
          display: inline-block;
          text-decoration: none;
          color: black;
          margin-bottom: calc(1vh + 1vw);
          &:hover {
            text-decoration: underline;
          }
          h5 {
            margin: 0px;
          }
        }
      }
    }

    // the instructions wrap
    .instruction-wrap {
      position: absolute;
      top: calc(1vh + 1vw);
      left: 0;
      right: 0;
      opacity: 0.7;
      transition: all 0.3s ease;
      .night & {
        color: white;
      }
    }

    // hide the link to the index
    .left-link {
      display: none !important;
    }

  }
}
